# Python management
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
.pytest_cache/
.coverage
htmlcov/

# Distribution / Packaging
build/
dist/
*.egg-info/

# System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# AWS / Serverless
.aws-sam/
cdk.out/

# Logs
*.log

# Deployment Artifacts
build_logic/
debug_build/
infra/aws/packaged-logic.yaml

# UI / Node
node_modules/
.expo/
web-build/
.yarn/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
